{% extends "common.html"%}
{%block body%} 

<div id="dDiv">
<ul >

    <li id="details">
        <h2>{{details.writer_name}} </h2>
        <div><span></span><a href="#"></a><img src='/{{details.writer_image}}' alt="Writer image" width="250" height="240"></div>
        <h4>Born at {{details.writer_dob}}</h4>
        <h4>Died at {{details.writer_dod}}</h4>
        <h4>Contact {{details.writer_contact}}</h4>
        
        {% for book in details.book_set.all%}
            Books <a href="{{book.book_name}}">{{book.book_name}}</a>
        {%endfor%}
        <h4>Bio {{details.writer_bio}}</h4>
    </li>
  
</div> 

    
   
</ul>
{%endblock%}
